.box {
max-width:600px;
padding:25px;
background-color:#FFFFFF;
border: 1px solid black;
margin-left:auto;
margin-right:auto;
text-align: center 
}

.boxl {
max-width:600px;
padding:25px;
/*background-color:#FFFFFF;*/
border: 1px solid black;
margin-left:auto;
margin-right:auto;

}
.rect {
/*	background-color:#C8FAFA;*/

}

html, body {
	height: 100%;
	width:55em;margin:0px auto;padding:0;color:#333;text-align:justify
}

blockquote{margin:0;margin-left:62px;margin-right:62px;padding:0;font-family:georgia,serif;font-style:italic}
h1{margin-left:55px;margin-right:55px;padding:0;padding-top:30px}
h3{margin-left:100px;margin-right:55px;padding:0;padding-top:15px}
p.right {
text-align:right;
}
p{margin-left:45px;padding:0 55px;padding-bottom:30px;border-bottom:1px solid #d3d3d3}

img{
	max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.wrapper {

	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -35px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
	padding-top:10px;
	height: 35px; /* '.push' must be the same height as 'footer' */
}



a.noDec, a.noDec:link, a.noDec:visited, a.noDec:hover, a.noDec:focus, a.noDec:active/*, a:link, a:visited*/{
text-decoration:none;

color:black;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

#foot #left {float:left;}
#foot #center {float:center;text-align:center;
}
#foot #right {float:right;text-align:right;}


